#Regras de Associação

##Instalar e Importar Libs

In [ ]:
!pip install mlxtend

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd
import numpy as np

##Importar Dados

In [ ]:
data=pd.read_excel('/content/drive/MyDrive/Dataset_Excel_CSV/OnlineRetail_short.xlsx')
data.head()

  InvoiceNo StockCode  ... CustomerID  Country
0    536370     22728  ...    12583.0   France
1    536370     22727  ...    12583.0   France
2    536370     22726  ...    12583.0   France
3    536370     21724  ...    12583.0   France
4    536370     21883  ...    12583.0   France

[5 rows x 8 columns]

In [ ]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
data['Country'].unique()

array(['France', 'Australia', 'Netherlands', 'Germany', 'Norway', 'EIRE',
       'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy', 'Belgium',
       'Lithuania', 'Japan', 'Iceland', 'Channel Islands', 'Denmark',
       'Cyprus', 'Sweden', 'Austria', 'Israel', 'Finland', 'Bahrain',
       'Greece', 'Hong Kong', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Malta',
       'RSA'], dtype=object)

##Preparar Dados

###Remover espaços em branco extras na descrição

In [ ]:
data['Description']=data['Description'].str.strip()

In [ ]:
data['Description']

0              ALARM CLOCK BAKELIKE PINK
1               ALARM CLOCK BAKELIKE RED
2             ALARM CLOCK BAKELIKE GREEN
3        PANDA AND BUNNIES STICKER SHEET
4                        STARS GIFT TAPE
                      ...
46426        PACK OF 20 SPACEBOY NAPKINS
46427        CHILDREN'S APRON DOLLY GIRL
46428       CHILDRENS CUTLERY DOLLY GIRL
46429    CHILDRENS CUTLERY CIRCUS PARADE
46430       BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 46431, dtype: object

###Excluir todas as linhas sem número de fatura

In [ ]:
len(data)

46431

In [ ]:
data.dropna(axis=0,subset=['InvoiceNo'],inplace=True)
data['InvoiceNo']=data['InvoiceNo'].astype('str')

In [ ]:
len(data)

46431

###Excluir todas as transações das quais tem o crédito pago ("C")

In [ ]:
data=data[~data['InvoiceNo'].str.contains("C")]

In [ ]:
len(data)

44999

In [ ]:
basket=data[data['Country']=='France']

In [ ]:
basket.head()

  InvoiceNo StockCode  ... CustomerID  Country
0    536370     22728  ...    12583.0   France
1    536370     22727  ...    12583.0   France
2    536370     22726  ...    12583.0   France
3    536370     21724  ...    12583.0   France
4    536370     21883  ...    12583.0   France

[5 rows x 8 columns]

In [ ]:
basket=(data[data['Country']=='France'] 
      .groupby(['InvoiceNo','Description'])['Quantity']
      .sum().fillna(0))
basket

InvoiceNo  Description
536370     ALARM CLOCK BAKELIKE GREEN         12
           ALARM CLOCK BAKELIKE PINK          24
           ALARM CLOCK BAKELIKE RED           24
           CHARLOTTE BAG DOLLY GIRL DESIGN    20
           CIRCUS PARADE LUNCH BOX            24
                                              ..
581587     CIRCUS PARADE LUNCH BOX            12
           PACK OF 20 SPACEBOY NAPKINS        12
           PLASTERS IN TIN CIRCUS PARADE      12
           PLASTERS IN TIN STRONGMAN          12
           SPACEBOY LUNCH BOX                 12
Name: Quantity, Length: 8372, dtype: int64

In [ ]:
basket=(data[data['Country']=='France'] 
      .groupby(['InvoiceNo','Description'])['Quantity']
      .sum().reset_index().fillna(0)
      .set_index('InvoiceNo'))
basket

                               Description  Quantity
InvoiceNo
536370          ALARM CLOCK BAKELIKE GREEN        12
536370           ALARM CLOCK BAKELIKE PINK        24
536370            ALARM CLOCK BAKELIKE RED        24
536370     CHARLOTTE BAG DOLLY GIRL DESIGN        20
536370             CIRCUS PARADE LUNCH BOX        24
...                                    ...       ...
581587             CIRCUS PARADE LUNCH BOX        12
581587         PACK OF 20 SPACEBOY NAPKINS        12
581587       PLASTERS IN TIN CIRCUS PARADE        12
581587           PLASTERS IN TIN STRONGMAN        12
581587                  SPACEBOY LUNCH BOX        12

[8372 rows x 2 columns]

In [ ]:
len(basket)

8372

In [ ]:
basket_France=(data[data['Country']=='France'] 
              .groupby(['InvoiceNo','Description'])['Quantity']
              .sum().unstack().reset_index().fillna(0)
              .set_index('InvoiceNo'))
basket_France.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0

[5 rows x 1563 columns]

In [ ]:
len(basket_France)

392

In [ ]:
basket_Portugal=(data[data['Country']=='Portugal'] 
              .groupby(['InvoiceNo','Description'])['Quantity']
              .sum().unstack().reset_index().fillna(0)
              .set_index('InvoiceNo'))

basket_Sweden=(data[data['Country']=='Sweden'] 
              .groupby(['InvoiceNo','Description'])['Quantity']
              .sum().unstack().reset_index().fillna(0)
              .set_index('InvoiceNo'))

In [ ]:
len(basket_Portugal),len(basket_Sweden)

(58, 36)

In [ ]:
def h_encode(x):
  if x<=0:
    return 0
  if x>=1:
    return 1

##Encode nos datasets

Aplicar a função de encode (1 ou 0)

In [ ]:
basket_France = basket_France.applymap(h_encode)

basket_Portugal = basket_Portugal.applymap(h_encode)

basket_Sweden = basket_Sweden.applymap(h_encode)

In [ ]:
basket_France.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                            0  ...                                0
536852                            0  ...                                0
536974                            0  ...                                0
537065                            0  ...                                0
537463                            0  ...                                0

[5 rows x 1563 columns]

##Suporte Minimo

In [ ]:
frq_items = apriori(basket_France,min_support=0.05,use_colnames=True)

In [ ]:
rules=association_rules(frq_items,metric='lift',min_threshold=1)
rules.head()

                     antecedents  ... conviction
0                      (POSTAGE)  ...   1.002055
1  (4 TRADITIONAL SPINNING TOPS)  ...   1.095238
2    (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
3   (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
4     (ALARM CLOCK BAKELIKE RED)  ...   5.568878

[5 rows x 9 columns]

In [ ]:
rules=rules.sort_values(['confidence','lift'],ascending=[False,True])
rules.head()

                                           antecedents  ... conviction
45                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
260  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
272  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...  ...        inf
301  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.489796
300  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959

[5 rows x 9 columns]

In [ ]:
def RulesAssociation(df,min_support=0.05,min_threshold=1):
  frequencia_items = apriori(df,min_support=min_support,use_colnames=True)

  regras=association_rules(frq_items,metric='lift',min_threshold=1)
  regras=regras.sort_values(['confidence','lift'],ascending=[False,True])

  return frequencia_items,regras

In [ ]:
frq_France, rules_France=RulesAssociation(basket_France)
rules_France.head()

                                           antecedents  ... conviction
45                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
260  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
272  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...  ...        inf
301  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.489796
300  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959

[5 rows x 9 columns]

In [ ]:
frq_Portugal, rules_Portugal=RulesAssociation(basket_Portugal)
rules_Portugal.head()

                                           antecedents  ... conviction
45                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
260  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
272  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...  ...        inf
301  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.489796
300  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959

[5 rows x 9 columns]

In [ ]:
frq_Sweden, rules_Sweden=RulesAssociation(basket_Sweden)
rules_Sweden.head()

                                           antecedents  ... conviction
45                        (JUMBO BAG WOODLAND ANIMALS)  ...        inf
260  (RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...  ...        inf
272  (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...  ...        inf
301  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.489796
300  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959

[5 rows x 9 columns]